<div class="card full-form-card">
  <div class="card-body">
    <%= form_with(model: user_listing) do |f| %>
      <% if user_listing.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(user_listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

          <ul>
            <% user_listing.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class=" mb-3 col-12 col-md-6">
          <h5 class="card-title">Add a New Listing</h5>
          <p class="text-muted">This listing will be tracked and its data will be refreshed daily.</p>
        </div>

        <div class="mb-3 col-12 col-md-6">
          <%= f.label "Listing URL", { class: "form-label"} %>
          <div class="input-group">
            <%= f.text_field :url, { class: "form-control" } %>
          </div>
        </div>

        <div class="w-100 mb-0">
          <button type="submit" class="btn btn-primary float-end">Add Listing</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
