<p style="color: green"><%= notice %></p>

<%= link_to " Back to listings", user_listings_path, class: "btn btn-secondary mb-2" %>  

<h2 class="text-center"><%= @user_listing.listing.name %></h2>
<h4 class="text-center text-muted">Listing added at <%= @user_listing.created_at.strftime("%b/%d, %Y") %></h4>

<br>

<div>
  <div class="card">
    <div class="card-header">
      <h3>Reviews Gathered by Month</h3>
    </div>
    <div class="card-body">
      <div data-controller="chart" 
           data-chart-labels-value="<%= @chart_labels.to_json %>" 
           data-chart-data-value="<%= @chart_values.to_json %>">
        <canvas data-chart-target="canvas" id="reviewChart"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
  </div>

  <% if @user_listing.listing.word_cloud_image.attached? %>
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h3>Word Cloud</h3>
      </div>
      <div class="card-body p-0">
        <%= image_tag @user_listing.listing.word_cloud_image, class: "mx-auto d-block img-fluid" %>
      </div>
    </div>
  <% end %>

  <div data-controller="reviews">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="mb-2 mt-4">
          <button class="btn btn-light me-2" data-action="reviews#showPrevious">Previous</button>
          <button class="btn btn-light" data-action="reviews#showNext">Next</button>
        </div>

        <% @review_sample.each do |review| %>
          <div class="card shadow p-4" data-reviews-target="card" hidden>
            <h4 class="card-title"><%= review.author %></h4>
            <p class="card-text" data-reviews-target="text"><%= review.text %></p>
            <span class="text-muted">Published at <%= review.date.strftime("%Y-%m-%d") %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
