<div id="<%= dom_id review %>">
  <p>
    <strong>Author:</strong>
    <%= review.author %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= review.text %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= review.date %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= review.listing_id %>
  </p>

</div>
